-- 40 new INSERT statements for MaintenanceLogs with unique LogID values (3061-3100) and random inspection dates
INSERT INTO dbo.MaintenanceLogs (LogID, TailNumber, Status, Component, PartHours, Details, InspectionDate) VALUES (3061, 'N301AA', 'AOG', 'Engine', 1540, 'Engine coolant leak detected, repair scheduled.', '2026-07-08');
INSERT INTO dbo.MaintenanceLogs (LogID, TailNumber, Status, Component, PartHours, Details, InspectionDate) VALUES (3062, 'N302BB', 'In-Work', 'Landing Gear', 850, 'Landing gear hydraulic actuator replaced.', '2026-07-11');
INSERT INTO dbo.MaintenanceLogs (LogID, TailNumber, Status, Component, PartHours, Details, InspectionDate) VALUES (3063, 'N303CC', 'Serviceable', 'Avionics', 2350, 'Flight data recorder tested, all parameters normal.', '2026-07-14');
-- View all records in MaintenanceLogs
SELECT * FROM dbo.MaintenanceLogs ORDER BY LogID;
-- 20 new INSERT statements for MaintenanceLogs with unique LogID values (3041-3060) and random inspection dates
-- 20 more INSERT statements for MaintenanceLogs with random inspection dates
-- 20 new INSERT statements for MaintenanceLogs with random inspection dates
SELECT TOP 1 * FROM dbo.MaintenanceLogs;
